# Secrets
.env

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Playwright
playwright-report/
test-results/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
